html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

img {
    margin-bottom: 50px;
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: none;
}

#logoarea {
    text-align: center;
}

#signinarea {
    max-width: 300px;
    text-align: center;
}

#nextbuttonrow {
    display: flex;
    justify-content: center;
}